// Specific CSS for your home-page
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative!important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
