<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "Al_ine Logo 3.png", alt: "Logo Aline", class: "footer-logo" %>
    <% end %>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Ali_ine
  </div>
</div>
