<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Enila999"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/aline-gomes-lopes-%F0%9F%8C%9F-614424123/"><i class="fab fa-linkedin"></i></a>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "Al_ine Logo 3.png", alt: "Logo Aline", class: "footer-logo" %>
    <% end %>
  </div>

  <div class="footer-copyright">
  All made with <i class="fas fa-heart"></i> by Al_ine - 2025
  </div>
</div>
