<%= form_with url: projects_path, method: :get, local: true,
              class: "filter-form",
              data: {
                controller: "tag-autocomplete",
                tag_autocomplete_tags_value: @tags.to_json
              } do %>

  <div class="filter-row">
    <%= label_tag :tag, " ", class: "filter-label" %>

    <div class="autocomplete-wrapper">
      <div class="tag-input-wrapper">
        <%= text_field_tag :tag, params[:tag],
              placeholder: "Filtrez par tag ...",
              data: { tag_autocomplete_target: "input" },
              autocomplete: "off",
              class: "tag-input" %>

        <button type="button"
                class="clear-tag-input"
                data-tag-autocomplete-target="clear"
                aria-label="Effacer le champ">✕</button>
      </div>

      <ul id="tag-suggestions"
          data-tag-autocomplete-target="suggestions"
          class="suggestions-list"></ul>
    </div>

    <%= submit_tag "Filtrer", class: "button-filter" %>
  </div>
<% end %>
