<div class="parent">
  <div class="pre-banner">
    <div class="banner-background">
      <div class="top-banner">
        <div class="banner-img-left">
          <%= image_tag "Pattern.png" %>
        </div>

        <div class="side-banner">
          <h1 class="title-page"> Mentions légales</h1>
        </div>

        <div class="side-banner-img">
          <%= image_tag "Pattern.png" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container pre-footer">
    <section class="privacy-policy">
      <h2>Éditeur du site</h2>
      <div class="privacy-list">
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="">
          <p>Le présent site web est édité par <strong>Portfolial</strong></p>
        </div>
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="">
          <p>Immatriculée au Registre du commerce et des sociétés sous le numéro SIRET <strong>94801796700019</strong></p>
        </div>
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="">
          <p>Adresse : rue Delannoy</p>
        </div>
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="">
          <p>Téléphone : 06 00 00 00 00</p>
        </div>
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="">
          <p>Directrice de la publication : <strong>Aline GOMES LOPES</strong></p>
        </div>
      </div>

      <h2>Hébergeur</h2>
      <div class="privacy-list">
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="">
          <p>Le présent site web est hébergé par <strong>Infomaniak</strong></p>
        </div>
      </div>
    </section>


  </div>
</div>
