<div class="parent">
  <div class="pre-banner">
    <div class="banner-background">
      <div class="top-banner">
        <div class="banner-img-left">
          <%= image_tag "Pattern.png" %>
        </div>

        <div class="side-banner">
          <h1 class="title-page"> Mentions légales</h1>
        </div>

        <div class="side-banner-img">
          <%= image_tag "Pattern.png" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container pre-footer">
    <section class="privacy-policy">
      <h2>Éditeur du site</h2>
      <div class="privacy-list">
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="icone pied de poule">
          <p>Le présent site web est édité par <strong>Portfolial</strong></p>
        </div>
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="icone pied de poule">
          <p>Immatriculée au Registre du commerce et des sociétés sous le numéro SIRET <strong>94801796700019</strong></p>
        </div>
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="icone pied de poule">
          <p>Adresse : Lille</p>
        </div>
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="icone pied de poule">
          <p>Téléphone : 06 01 02 03 04</p>
        </div>
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="icone pied de poule">
          <p>Directrice de la publication : <strong>Aline GOMES LOPES</strong>
          <br><a href="https://www.linkedin.com/in/aline-gomes-lopes-%F0%9F%8C%9F-614424123/" class="link-text">Pour me contacter</a></p>
        </div>
      </div>

      <h2>Hébergeur</h2>
      <div class="privacy-list">
        <div class="privacy-item">
          <img src="/assets/PDP Beige.png" class="privacy-bullet" alt="icone pied de poule">
          <p>Le présent site web est hébergé par <strong>Infomaniak</strong>
          <br>Infomaniak Network SA
          <br>Rue Eugène Marziano 25
          <br>1227 Les Acacias (GE)
          <br>Registre du commerce du canton de Genève : CH-660.0.059.996-1
          <br><a href="https://www.infomaniak.com/fr/aide" class="link-text">Les contacter</a></p>

        </div>
      </div>
    </section>


  </div>
</div>
