<div class="parent">
  <div class="pre-banner">
    <div class="banner-background">
      <div class="top-banner">
        <div class="banner-img-left">
          <%= image_tag "Pattern.png" %>
        </div>

        <div class="side-banner">
          <h1 class="title-page">Modifier le projet</h1>
        </div>

        <div class="side-banner-img">
          <%= image_tag "Pattern.png" %>
        </div>
      </div>
    </div>
  </div>

<div class="container pre-footer">
<div class="sub-project-new">
  <div class= "sub-description-new">
    <%= render 'form' %>
  </div>
</div>

</div>
  <%= link_to "Retour", projects_path, class: "discover-button" %>
</div>
