  <div class="card-category top-banner">
      <%= @project.customer %>
  </div>
  </div>


  <div class="container">
    <h2>Tous les projets pour <%= @project.customer %></h2>
      <div class="description-show">
        <%= image_tag @project.logo, alt: "Logo de #{@project.customer}", class: "logo-show" %>
        <%= @project.description %>
      </div>
  </div>
