
// .page-title {
//  background-color: #cbbca0;
//  display: inline-block;
//  text-align: center;
//  border-radius: 16px;
//  padding: 64px;
//  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
//  font-size: 40px;
//  color: #fafafa;
//  font-weight: bold;
// }

.project-index-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  margin: 60px auto;
  padding: 0 40px;
}

.card {
  border-radius: 16px;
  overflow: hidden;
  background-color: #cbbca0;
  color: #2b2a29;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: none!important;
}

.card-img-top-index {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.project-index-grid img{
 background-color: #fafafa!important;
}

.card-index-body {
  padding: 16px;
  background-color: #cbbca0;
  border-radius: 0 0 16px 16px;
}


.card-index-title {
  color: #fafafa;
  font-size: 24px;
  font-weight: bold;
}

.card-index-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discover-button {
  opacity: 1;
  visibility: visible;
}

/*Banner*/

.banner {
  background-image: asset-url("Pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.top-banner {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #cbbca0;
}

.banner-background {
  height: 550px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 60px;
}

.banner-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #cbbca0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.banner-cell {
  position: absolute;
  width: calc(100% / 6);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbbca0;
  transition: top 0.4s ease;
  color: #fafafa;
  height: 50%;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  font-weight: bold;
  text-align: center;
}

.row-1 { top: 0%; }
.row-2 { top: 50%; }

.col-1 { left: 0%; }
.col-2 { left: 16.66%; }
.col-3 { left: 33.33%; }
.col-4 { left: 50%; }
.col-5 { left: 66.66%; }
.col-6 { left: 83.33%; }

.banner-cell:hover {
  background-color: #fafafa;
  color:#cbbca0;
  letter-spacing: 5px;
}


/*Responsiveness*/

// Smallest device
@media (min-width: 100px) and (max-width: 767px) {

  .title-page {
    font-size: 60px;
  }

  .card {
  grid-template-columns: 1fr 1fr 1fr;
  }

  .banner-text {
    font-size: 16px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -8px;
  }
}

// Small devices (landscape phones, 768px to 862px)
@media (min-width: 768px) and (max-width: 862px) {
  .title-page {
    font-size: 80px;
  }

  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .banner-text {
    font-size: 24px;
  }
}

// Medium & large devices (tablets, desktop 863px and up)
@media (min-width: 863px) {
  .title-page {
    font-size: 80px;
  }

  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .banner-text {
    font-size: 32px;
  }
}
