
.page-title {
 background-color: #cbbca0;
 display: inline-block;
 text-align: center;
 border-radius: 16px;
 padding: 64px;
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 font-size: 40px;
 color: #fafafa;
 font-weight: bold;
}

.banner {
  background-image: asset-url("Pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.project-index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  margin: 40px auto;
  padding: 0 40px;
}

.card {
  border-radius: 16px;
  overflow: hidden;
  background-color: #cbbca0;
  color: #2b2a29;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: none!important;
}

.card-img-top-index {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.project-index-grid img{
 background-color: #fafafa;
}

.project-index-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit; /* hérite du background-image */
  filter: brightness(1);
  transition: filter 0.3s ease;
  z-index: 1;
}

.project-index-grid:hover::before {
  filter: brightness(0.3);
}

.card-index-body {
  padding: 16px;
  background-color: #cbbca0;
  border-radius: 0 0 16px 16px;
}


.card-index-title {
  color: #fafafa;
  font-size: 24px;
  font-weight: bold;
}

.discover-button {
  opacity: 1;
  visibility: visible;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


/*Banner*/

.banner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 60px;
}

.banner-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbbca0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  font-size: 32px;
  color: #fafafa;
  font-weight: bold;
  text-align: center;
}

/* Génération des classes de placement */
.row-1 { grid-row: 1; }
.row-2 { grid-row: 2; }

.col-1 { grid-column: 1; }
.col-2 { grid-column: 2; }
.col-3 { grid-column: 3; }
