.project-index-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  margin: 60px auto;
  padding: 0 40px;
}

.card {
  border-radius: 16px;
  overflow: hidden;
  background-color: #cbbca0;
  color: #2b2a29;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: none!important;
}

.card-img-top-index {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.project-index-grid img{
 background-color: #fafafa!important;
}

.card-index-body {
  padding: 16px;
  background-color: #cbbca0;
  border-radius: 0 0 16px 16px;
}


.card-index-title {
  color: #fafafa;
  font-size: 24px;
  font-weight: bold;
}

.card-index-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discover-button {
  opacity: 1;
  visibility: visible;
}

/*Banner*/

.banner {
  background-image: asset-url("Pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.top-banner {
  // padding-bottom: 40px;
  background-color: #cbbca0;
}

.banner-background {
  color: #fafafa;
  background-color: #cbbca0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.banner-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #cbbca0;
}

.banner-cell {
  position: absolute;
  width: calc(100% / 6);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbbca0;
  transition: top 0.4s ease;
  color: #fafafa!important;
  height: 50%;
  font-weight: bold;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  color: #fafafa;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.banner-text:hover {
  color: #cbbca0;

}

.link {
  text-decoration: none;
}

.row-1 { top: 0%; }
.row-2 { top: 50%; }

.col-1 { left: 0%; }
.col-2 { left: 16.66%; }
.col-3 { left: 33.33%; }
.col-4 { left: 50%; }
.col-5 { left: 66.66%; }
.col-6 { left: 83.33%; }

.banner-cell:hover {
  background-color: #fafafa;
  color:#cbbca0!important;
  letter-spacing: 5px;
  text-decoration: none;
}


/*Responsiveness*/

// Smallest device
@media (min-width: 100px) and (max-width: 767px) {
  .title-page {
    font-size: 28px;
    text-align: center;
    color: #fafafa;
    margin: 16px 0;
  }

  .banner-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .top-banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-img-left {
    width: 100%;
    height: 100px;
    background-color: #cbbca0;
    padding-top: 20px;
  }

  .banner-img-left img {
    display: none;
  }


  .side-banner {
    background-color: #cbbca0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
  }

  .side-banner-img {
    height: 80px;
    width: 100%;
  }

  .side-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-text {
    font-size: 12px!important;
    color: #fafafa;
    text-align: center;
  }
}

// Small devices (landscape phones, 768px to 862px)
@media (min-width: 768px) and (max-width: 1310px) {

  .banner-text {
    font-size: 20px;
  }
}


// Medium & large devices (tablets, desktop 863px and up)
@media (min-width: 768px) {
  .banner-background {
    display: flex;
    height: 300px;
    width: 100%;
  }

  .top-banner {
    display: flex;
    width: 100%;
  }

  .banner-img-left,
  .side-banner,
  .side-banner-img {
    height: 300px;
  }

  .banner-img-left {
    width: 10%;
  }

  .side-banner {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbbca0;
  }

  .side-banner-img {
    width: 60%;
  }

  .banner-img-left img,
  .side-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title-page {
    font-size: 60px;
    color: #fafafa;
    text-align: center;
  }

  .pre-banner{
  padding-top: 10%;
  background-color: #cbbca0;
}
}
