/*pied-de-poule flottants*/

/* head */
.grid-head {
  display: grid;
  // grid-template-rows: repeat(auto-fit(100px, 1fr));
  // gap: -1.20rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 0;
  padding: 0;
  grid-auto-flow: dense;
  margin-bottom: 0;
  padding-bottom: 0;
}


@media (max-width: 767px) {
  .grid-head {
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 120px;
    max-height: 400px;
    overflow: hidden;
  }

  .image-container img {
    width: 100px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .grid-head {
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 120px;
    max-height: 500px;
    overflow: hidden;
  }

  .image-container img {
    width: 150px;
  }
}

@media (min-width: 1024px) {
  .grid-head {
    grid-template-columns: repeat(10, 1fr);
    max-height: 600px;
    overflow: hidden;
      // gap: -1.20rem;
  }

  .image-container img {
    width: 200px;
  }
}

.superpose {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveToPosition {
  0% {
    transform: translate(-800px, 700px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* Images Responsives */
.image-container img {
  height: auto;
  object-fit: cover;
  position: relative;
  transition: opacity 0.5s ease;
  animation: moveToPosition 1s ease forwards;
  display: block;
  margin-bottom: 0;
}


/*desktop*/
/* img_1 */
#img_1 {
  top: -80px;
  left: 0;
  animation: moveToPosition 1s ease forwards;
}

/* img_2 */
#img_2 {
  top: -80px;
  left: -40px;
  animation: moveToPosition 1s ease forwards;
}

/* img_3 */
#img_3 {
  top: -80px;
  left: -80px;
  animation: moveToPosition 1s ease forwards;
}

/* img_4 */
#img_4 {
  top: -80px;
  left: -120px;
  animation: moveToPosition 1s ease forwards;
}

/* img_5 */
#img_5 {
  top: -80px;
  left: -160px;
  animation: moveToPosition 1s ease forwards;
}

/* img_6 */
#img_6 {
  top: -80px;
  left: -200px;
  animation: moveToPosition 1s ease forwards;
}

/* img_7 */
#img_7 {
  top: -80px;
  left: -240px;
  animation: moveToPosition 1s ease forwards;
}

/* img_8 */
#img_8 {
  top: -80px;
  left: -280px;
  animation: moveToPosition 1s ease forwards;
}

/* img_9 */
#img_9 {
  top: -80px;
  left: -320px;
  animation: moveToPosition 1s ease forwards;
}

/* img_10 */
#img_10 {
  top: -80px;
  left: -360px;
  animation: moveToPosition 1s ease forwards;
}

/* img_11 */
#img_11 {
  top: -120px;
  left: 0;
  animation: moveToPosition 1s ease forwards;
}

/* img_12 */
#img_12 {
  top: -120px;
  left: -40px;
  animation: moveToPosition 1s ease forwards;
}

/* img_13 */
#img_13 {
  top: -120px;
  left: -80px;
  animation: moveToPosition 1s ease forwards;
}

/* img_14 */
#img_14 {
  top: -120px;
  left: -120px;
  animation: moveToPosition 1s ease forwards;
}

/* img_15 */
#img_15 {
  top: -120px;
  left: -160px;
  animation: moveToPosition 1s ease forwards;
}

/* img_16 */
#img_16 {
  top: -120px;
  left: -200px;
  animation: moveToPosition 1s ease forwards;
}

/* img_17 */
#img_17 {
  top: -120px;
  left: -240px;
  animation: moveToPosition 1s ease forwards;
}

/* img_18 */
#img_18 {
  top: -120px;
  left: -280px;
  animation: moveToPosition 1s ease forwards;
}

/* img_19 */
#img_19 {
  top: -120px;
  left: -320px;
  animation: moveToPosition 1s ease forwards;
}

/* img_20 */
#img_20 {
  top: -120px;
  left: -360px;
  animation: moveToPosition 1s ease forwards;
}

/* img_21 */
#img_21 {
  top: -160px;
  left: 0;
  animation: moveToPosition 1s ease forwards;
}

/* img_22 */
#img_22 {
  top: -160px;
  left: -40px;
  animation: moveToPosition 1s ease forwards;
}

/* img_23 */
#img_23 {
  top: -160px;
  left: -80px;
  animation: moveToPosition 1s ease forwards;
}

/* img_24 */
#img_24 {
  top: -160px;
  left: -120px;
  animation: moveToPosition 1s ease forwards;
}

/* img_25 */
#img_25 {
  top: -160px;
  left: -160px;
  animation: moveToPosition 1s ease forwards;
}

/* img_26 */
#img_26 {
  top: -160px;
  left: -200px;
  animation: moveToPosition 1s ease forwards;
}

/* img_27 */
#img_27 {
  top: -160px;
  left: -240px;
  animation: moveToPosition 1s ease forwards;
}

/* img_28 */
#img_28 {
  top: -160px;
  left: -280px;
  animation: moveToPosition 1s ease forwards;
}

/* img_29 */
#img_29 {
  top: -160px;
  left: -320px;
  animation: moveToPosition 1s ease forwards;
}

/* img_30 */
#img_30 {
  top: -160px;
  left: -360px;
  animation: moveToPosition 1s ease forwards;
}

/* img_31 */
#img_31 {
  top: -200px;
  left: 0px;
  animation: moveToPosition 1s ease forwards;
}

/* img_32 */
#img_32 {
  top: -200px;
  left: -40px;
  animation: moveToPosition 1s ease forwards;
}

/* img_33 */
#img_33 {
  top: -200px;
  left: -80px;
  animation: moveToPosition 1s ease forwards;
}

/* img_34 */
#img_34 {
  top: -200px;
  left: -120px;
  animation: moveToPosition 1s ease forwards;
}

/* img_35 */
#img_35 {
  top: -200px;
  left: -160px;
  animation: moveToPosition 1s ease forwards;
}

/* img_36 */
#img_36 {
  top: -200px;
  left: -200px;
  animation: moveToPosition 1s ease forwards;
}

/* img_37 */
#img_37 {
  top: -200px;
  left: -240px;
  animation: moveToPosition 1s ease forwards;
}

/* img_38 */
#img_38 {
  top: -200px;
  left: -280px;
  animation: moveToPosition 1s ease forwards;
}

/* img_39 */
#img_39 {
  top: -200px;
  left: -320px;
  animation: moveToPosition 1s ease forwards;
}

/* img_40 */
#img_40 {
  top: -200px;
  left: -360px;
  animation: moveToPosition 1s ease forwards;
}

/* img_41 */
#img_41 {
  top: -240px;
  left: 0px;
  animation: moveToPosition 1s ease forwards;
}

/* img_42 */
#img_42 {
  top: -240px;
  left: -40px;
  animation: moveToPosition 1s ease forwards;
}

/* img_43 */
#img_43 {
  top: -240px;
  left: -80px;
  animation: moveToPosition 1s ease forwards;
}

/* img_44 */
#img_44 {
  top: -240px;
  left: -120px;
  animation: moveToPosition 1s ease forwards;
}

/* img_45 */
#img_45 {
  top: -240px;
  left: -160px;
  animation: moveToPosition 1s ease forwards;
}

/* img_46 */
#img_46 {
  top: -240px;
  left: -200px;
  animation: moveToPosition 1s ease forwards;
}

/* img_47 */
#img_47 {
  top: -240px;
  left: -240px;
  animation: moveToPosition 1s ease forwards;
}

/* img_48 */
#img_48 {
  top: -240px;
  left: -280px;
  animation: moveToPosition 1s ease forwards;
}

/* img_49 */
#img_49 {
  top: -240px;
  left: -320px;
  animation: moveToPosition 1s ease forwards;
}

/* img_50 */
#img_50 {
  top: -240px;
  left: -360px;
  animation: moveToPosition 1s ease forwards;
}

@media (max-width: 767px) {
  #img_1 { top: -27px; left: -40px; }
  #img_2 { top: -27px; left: -60px; }
  #img_3 { top: -27px; left: -80px; }
  #img_4 { top: -27px; left: -100px; }
  #img_5 { top: -27px; left: -120px; }
  #img_6 { top: -27px; left: -140px; }
  #img_7 { top: -27px; left: -160px; }
  #img_8 { top: -27px; left: -180px; }
  #img_9 { top: -27px; left: -200px; }
  #img_10 { top: -27px; left: -220px; }

  #img_11 { top: -67px; left: -40px; }
  #img_12 { top: -67px; left: -60px; }
  #img_13 { top: -67px; left: -80px; }
  #img_14 { top: -67px; left: -100px; }
  #img_15 { top: -67px; left: -120px; }
  #img_16 { top: -67px; left: -140px; }
  #img_17 { top: -67px; left: -160px; }
  #img_18 { top: -67px; left: -180px; }
  #img_19 { top: -67px; left: -200px; }
  #img_20 { top: -67px; left: -220px; }

  #img_21 { top: -107px; left: -40px; }
  #img_22 { top: -107px; left: -60px; }
  #img_23 { top: -107px; left: -80px; }
  #img_24 { top: -107px; left: -100px; }
  #img_25 { top: -107px; left: -120px; }
  #img_26 { top: -107px; left: -140px; }
  #img_27 { top: -107px; left: -160px; }
  #img_28 { top: -107px; left: -180px; }
  #img_29 { top: -107px; left: -200px; }
  #img_30 { top: -107px; left: -220px; }

  #img_31 { top: -147px; left: -40px; }
  #img_32 { top: -147px; left: -60px; }
  #img_33 { top: -147px; left: -80px; }
  #img_34 { top: -147px; left: -100px; }
  #img_35 { top: -147px; left: -120px; }
  #img_36 { top: -147px; left: -140px; }
  #img_37 { top: -147px; left: -160px; }
  #img_38 { top: -147px; left: -180px; }
  #img_39 { top: -147px; left: -200px; }
  #img_40 { top: -147px; left: -220px; }

  #img_41 { top: -187px; left: -40px; }
  #img_42 { top: -187px; left: -60px; }
  #img_43 { top: -187px; left: -80px; }
  #img_44 { top: -187px; left: -100px; }
  #img_45 { top: -187px; left: -120px; }
  #img_46 { top: -187px; left: -140px; }
  #img_47 { top: -187px; left: -160px; }
  #img_48 { top: -187px; left: -180px; }
  #img_49 { top: -187px; left: -200px; }
  #img_50 { top: -187px; left: -220px; }
}

@media (min-width: 767px) and (max-width: 1023px) {
  #img_1 { top: -27px; left: -40px; }
  #img_2 { top: -27px; left: -70px; }
  #img_3 { top: -27px; left: -100px; }
  #img_4 { top: -27px; left: -130px; }
  #img_5 { top: -27px; left: -160px; }
  #img_6 { top: -27px; left: -190px; }
  #img_7 { top: -27px; left: -220px; }
  #img_8 { top: -27px; left: -250px; }
  #img_9 { top: -27px; left: -280px; }
  #img_10 { top: -27px; left: -310px; }

  #img_11 { top: -27px; left: -40px; }
  #img_12 { top: -27px; left: -70px; }
  #img_13 { top: -27px; left: -100px; }
  #img_14 { top: -27px; left: -130px; }
  #img_15 { top: -27px; left: -160px; }
  #img_16 { top: -27px; left: -190px; }
  #img_17 { top: -27px; left: -220px; }
  #img_18 { top: -27px; left: -250px; }
  #img_19 { top: -27px; left: -280px; }
  #img_20 { top: -27px; left: -310px; }

  #img_21 { top: -27px; left: -40px; }
  #img_22 { top: -27px; left: -70px; }
  #img_23 { top: -27px; left: -100px; }
  #img_24 { top: -27px; left: -130px; }
  #img_25 { top: -27px; left: -160px; }
  #img_26 { top: -27px; left: -190px; }
  #img_27 { top: -27px; left: -220px; }
  #img_28 { top: -27px; left: -250px; }
  #img_29 { top: -27px; left: -280px; }
  #img_30 { top: -27px; left: -310px; }

  #img_31 { top: -27px; left: -40px; }
  #img_32 { top: -27px; left: -70px; }
  #img_33 { top: -27px; left: -100px; }
  #img_34 { top: -27px; left: -130px; }
  #img_35 { top: -27px; left: -160px; }
  #img_36 { top: -27px; left: -190px; }
  #img_37 { top: -27px; left: -220px; }
  #img_38 { top: -27px; left: -250px; }
  #img_39 { top: -27px; left: -280px; }
  #img_40 { top: -27px; left: -310px; }

  #img_41 { top: -27px; left: -40px; }
  #img_42 { top: -27px; left: -70px; }
  #img_43 { top: -27px; left: -100px; }
  #img_44 { top: -27px; left: -130px; }
  #img_45 { top: -27px; left: -160px; }
  #img_46 { top: -27px; left: -190px; }
  #img_47 { top: -27px; left: -220px; }
  #img_48 { top: -27px; left: -250px; }
  #img_49 { top: -27px; left: -280px; }
}
