@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}

.project-logo {
  background-color: #fafafa;
  max-width: 400px;
}

.section-fluid-main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
  background-color: #cbbca0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #2b2a29;
  width: 100%;
  border-radius: 16px;
}

.section-row {
  display: contents;
  opacity: 0.4;
}

.section-row:hover .section-col {
  opacity: 1;
}

.section-col {
  position: relative;
  transition: opacity 250ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

.section-row .section-col:hover {
  opacity: 0.7;
}

.section {
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.section-in {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.section-in img {
  display: block;
  width: 100%;
  transition: transform 250ms linear;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
}

.section-col:hover .section-in img {
  transform: scale(1.1) rotate(-3deg);
  border-radius: 16px;
}

/** effet négatif**/

.hover-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  pointer-events: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  mix-blend-mode: difference!important; /**effet négatif!**/
}


.hover-text h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 8vw;
  line-height: 1;
  color: #fff;
  opacity: 1;
  transition: transform 250ms linear, opacity 250ms ease;
}

.section-col:hover .hover-text h2 {
  opacity: 1;
  transform: scale(1);
}

.section-col-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}


/* Responsive Grid Layouts */

@media (max-width: 1024px) {
  .section-fluid-main {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 60px;
  }
}

@media (max-width: 767px) {
  .section-fluid-main {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .hover-text h2 {
    font-size: 12vw;
  }
}
